*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: #FFF;
}

div.konten{
    background: #FFF;
    width: 350px;
    margin: 222px auto 0;
    border-radius: 16px;
    min-height: 256px;
    overflow: hidden;
}

div.kepala{
    background: #FFF;
    padding: 10px 22px;
    height: 60px;
}

div.kepala h2.judul{
    color:blue;
    font-weight: normal;
    line-height: 40px;
    display: inline-block;
}

div.lock{
    background-position: center;
    background-size: 38px;
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-top: 8px;
    float: left;
    margin-right: 10px;
}

div.artikel{
    padding:10px 22px 0;
    color: #808080;
}

div.artikel div.grup{
    margin: 16px 0;
}

div.artikel div.grup label,
div.artikel div.grup input{
    display: block;
}

div.artikel div.grup label{
    font-size: 20px;
    margin-bottom: 10px;
}

div.artikel div.grup input[type="text"],
div.artikel div.grup input[type="password"]{
    width: 100%;
    height: 30px;
    padding: 0 10px;
    background: #CCC;
    border:none;
    color: #808080;
}

div.artikel div.grup input[type="submit"]{
    background: #FFF;
    padding: 4px 16px;
    margin: 0 auto;
    border: 1px solid #33cd77;
    border-radius: 2px;
    color: #F00;
    cursor: pointer;
}

div.artikel div.grup input[type="submit"]:hover{
    background: #000;
}



